@font-face {
  font-family: 'Okta Neue';
  src: url('./fonts/Okta/OktaNeue-Light.ttf');
  src: url('./fonts/Okta/OktaNeue-Medium.ttf') format('ttf'),
    url('./fonts/Okta/OktaNeue-Regular.ttf') format('ttf'),
    url('./fonts/Okta/OktaNeue-SemiBold.ttf') format('ttf'),
    url('./fonts/Okta/OktaNeue-UltraLight.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Demo';
  src: url('./fonts/Intro/IntroDemo-BlackCAPS.otf');
  src: url('./fonts/Intro/IntroDemo-BlackCAPS.otf') format('otf'),
    url('./fonts/Intro/IntroDemoCond-BlackCAPS.otf') format('otf'),
    url('./fonts/Intro/IntroDemoCond-LightCAPS.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  position: relative;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  font-family: 'Okta Neue';
  min-width: 360px;
  margin: 0 auto;
}

.container {
  padding-inline: 72px;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .container {
    padding-inline: 20px;
  }
}

.hero {
  position: relative;
  height: 830px;
  background-image: url(./images/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 140px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .hero {
    height: 490px;
    margin-bottom: 40px;
  }
}

.hero__title {
  position: absolute;
  top: 50%;
  font-family: 'Intro Demo';
  font-size: 80px;
  line-height: 86.01px;
  color: white;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .hero__title {
    font-size: 40px;
    line-height: 43px;
    left: 0;
    right: 0;
    top: 25%;
    text-align: center;
  }
}

.second__screen {
  margin-bottom: 140px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .second__screen {
    margin-bottom: 40px;
  }
}

.second__screen__title {
  font-size: 40px;
  line-height: 48.4px;
  text-align: center;
  margin-bottom: 160px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .second__screen__title {
    font-size: 13px;
    line-height: 15.73px;
    margin-bottom: 25px;
  }
}

.second__screen__paragraph {
  font-size: 40px;
  line-height: 52.8px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .second__screen__paragraph {
    font-size: 13px;
    line-height: 17.16px;
  }
}

.second__screen__flex {
  display: flex;
  gap: 85px;
  align-items: center;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .second__screen__flex {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
}

.swiper {
  text-align: center;
  width: 50%;
  height: 460px;
}

@media (min-width: 360px) and (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 769px) and (max-width: 1439px) {
  .swiper {
    height: 200px;
  }
}

.swiper__img {
  height: 450px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .swiper__img {
    width: 200px;
    height: 200px;
  }
}

.swiper-slide {
  border: 1px solid #dbdbdb;
  border-radius: 15px;
  box-shadow: 4px 4px 3.7px 0px rgba(0, 0, 0, 0.25);
}

.swiper-link::before {
  position: absolute;
  top: 10px;
  right: 10px;
  content: '';
  display: block;
  width: 37.5px;
  height: 32px;
  background-image: url(./images/top.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .swiper-link::before {
    width: 12px;
    height: 10px;
  }
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .swiper-pagination-bullet {
    /* width: 7.5px;
    height: 7.5px; */
    width: 39px;
    height: 3px;
    border-radius: 45px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #e60012;
}

.swiper-button-next {
  color: #e60012;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
  }
}
.swiper-button-prev {
  color: #e60012;
}

.banner {
  padding-inline: 72px;
  padding-block: 30px;
  background-color: #e60012;
  color: #ffffff;
  font-size: 40px;
  line-height: 48.4px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 140px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .banner {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 1.8px;
    padding-inline: 20px;
  }
}

.third__screen {
  margin-bottom: 140px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .third__screen {
    margin-bottom: 40px;
  }
}

.third__screen__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.third__screen__first {
  position: relative;
}

.third__screen__first__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.content__link {
  width: 13px;
  height: 11px;
  margin-bottom: 65px;
}

.all__paragraph {
  font-size: 13px;
  line-height: 17.16px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}

.all__price {
  font-size: 15px;
  line-height: 19.8px;
}

.img {
  display: block;
  border-radius: 15px;
}

.third__screen__first__small__img {
  width: 100px;
}

.img__first {
  height: 542px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .img__first {
    height: 550px;
  }
}

.button {
  width: 30px;
  height: 30px;
}

.fun {
  position: absolute;
  bottom: 215px;
  left: 455px;
}

.cover {
  position: absolute;
  bottom: 135px;
  left: 600px;
}

.chair {
  position: absolute;
  right: 500px;
  bottom: 150px;
}

.wrapper {
  position: relative;
}

.content {
  background-color: #ffffff;
  position: absolute;
  height: auto;
  width: 315px;
  padding: 10px;
  border-radius: 5px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content__first {
  bottom: 200px;
  left: 16%;
}

.content__second {
  bottom: -50px;
  left: 25%;
}

.content__third {
  bottom: 60px;
  right: 18%;
}

ul li:hover .content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(20%) translateY(-55%);
  -moz-transform: translateX(20%) translateY(-55%);
  -ms-transform: translateX(20%) translateY(-55%);
  -o-transform: translateX(20%) translateY(-55%);
  transform: translateX(20%) translateY(-55%);
}

.third__screen__second {
  display: flex;
  gap: 50px;
}

.img__second {
  width: 100%;
}

.third__screen__second__left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.img__second__right {
  height: 540px;
}

.card {
  position: absolute;
  bottom: 70px;
  left: 70px;
}

.content__fourth {
  bottom: 45px;
  left: -50px;
}

.table {
  position: absolute;
  bottom: 50px;
  left: 250px;
}

.content__five {
  bottom: -50px;
  right: 80px;
}

.blanket {
  position: absolute;
  bottom: 70px;
  left: 70px;
}

.content__six {
  bottom: 45px;
  left: -50px;
}

.pillow {
  position: absolute;
  bottom: 130px;
  right: 250px;
}

.table__first {
  position: absolute;
  bottom: 135px;
  left: 150px;
}

.content__seven {
  bottom: -50px;
  right: 220px;
}

.chair__first {
  position: absolute;
  bottom: 200px;
  right: 300px;
}

.content__eight {
  bottom: 180px;
  right: 220px;
}

.fun__first {
  position: absolute;
  bottom: 75px;
  right: 330px;
}

.content__nine {
  bottom: -55px;
  right: 75px;
}

.category {
  font-size: 35px;
  line-height: 37.63px;
  letter-spacing: 3.5px;
  color: #211d1d;
  text-align: center;
  border: 9px solid #e60012;
  border-radius: 13px;
  padding-block: 30px;
  margin-bottom: 140px;
  text-transform: uppercase;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .category {
    margin-bottom: 40px;
    padding-block: 20px;
    border: 3px solid #e60012;
    border-radius: 6px;
    font-size: 18px;
    line-height: 19.35px;
    letter-spacing: 1.8px;
  }
}

.fourth__screen {
  margin-bottom: 140px;
}

.cover__second {
  position: absolute;
  bottom: 140px;
  left: 320px;
}

.content__ten {
  bottom: 120px;
  left: 0px;
}

.container__icon {
  position: absolute;
  bottom: 45px;
  left: 350px;
}

.content__1 {
  bottom: 140px;
  right: 400px;
}

.plus {
  position: absolute;
  bottom: 70px;
  right: 200px;
}

.content__2 {
  bottom: -50px;
  right: 330px;
}

.plus__3 {
  position: absolute;
  bottom: 200px;
  right: 250px;
}

.content__3 {
  bottom: 190px;
  right: 170px;
}

.plus__4 {
  position: absolute;
  bottom: 50px;
  right: 150px;
}

.content__4 {
  bottom: -50px;
  right: 260px;
}

.plus__5 {
  position: absolute;
  bottom: 50px;
  left: 40px;
}

.content__5 {
  bottom: -50px;
  right: 260px;
}

.plus__6 {
  position: absolute;
  bottom: 100px;
  left: 130px;
}

.content__6 {
  bottom: 100px;
  right: 350px;
}

.plus__7 {
  position: absolute;
  bottom: 150px;
  right: 200px;
}

.content__7 {
  bottom: 135px;
  right: 100px;
}

.fixed {
  width: 50%;
}

.img__fixed {
  height: 548px;
}

.plus__8 {
  position: absolute;
  bottom: 135px;
  right: 245px;
}

.content__8 {
  bottom: 120px;
  right: 150px;
}

.plus__9 {
  position: absolute;
  bottom: 135px;
  right: 300px;
}

.content__9 {
  bottom: -40px;
  right: 200px;
}

.plus__10 {
  position: absolute;
  bottom: 20px;
  right: 200px;
}

.content__10 {
  bottom: -55px;
  left: 0px;
}

.plus__11 {
  position: absolute;
  bottom: 70px;
  right: 110px;
}

.content__11 {
  bottom: 60px;
  right: 80px;
}

.plus__12 {
  position: absolute;
  bottom: 160px;
  right: 615px;
}

.content__12 {
  bottom: 150px;
  right: 530px;
}

.plus__13 {
  position: absolute;
  bottom: 70px;
  right: 44%;
}

.content__13 {
  bottom: 50px;
  right: 30%;
}

.plus__14 {
  position: absolute;
  bottom: 220px;
  right: 55%;
}

.content__14 {
  bottom: 30px;
  right: 35%;
}

.plus__15 {
  position: absolute;
  bottom: 45px;
  right: 30%;
}

.content__15 {
  bottom: 30px;
  right: 35%;
}

.plus__16 {
  position: absolute;
  bottom: 45px;
  right: 50%;
}

.content__16 {
  bottom: 30px;
  right: 35%;
}

.five__screen {
  margin-bottom: 140px;
}

.six__screen {
  margin-bottom: 140px;
}

.plus__17 {
  position: absolute;
  bottom: 450px;
  left: 30%;
}

.content__17 {
  bottom: 350px;
  left: 0;
}

.plus__18 {
  position: absolute;
  bottom: 100px;
  left: 10%;
}

.content__18 {
  bottom: 5px;
  left: 10%;
}

.plus__19 {
  position: absolute;
  bottom: 300px;
  left: 35%;
}

.content__19 {
  bottom: 200px;
  left: 35%;
}

.plus__20 {
  position: absolute;
  bottom: 165px;
  right: 5%;
}

.content__20 {
  bottom: 80px;
  right: 15%;
}

.plus__21 {
  position: absolute;
  bottom: 165px;
  right: 10%;
}

.content__21 {
  bottom: 60px;
  right: 30%;
}

.plus__22 {
  position: absolute;
  bottom: 80px;
  right: 35%;
}

.content__22 {
  bottom: 55px;
  right: 35%;
}

.plus__23 {
  position: absolute;
  bottom: 65px;
  left: 3%;
}

.content__23 {
  bottom: 55px;
  left: -5%;
}

.plus__24 {
  position: absolute;
  bottom: 130px;
  right: 25%;
}

.content__24 {
  bottom: -66px;
  right: 12%;
}

.plus__25 {
  position: absolute;
  bottom: 145px;
  right: 35%;
}

.content__25 {
  bottom: 135px;
  right: 20%;
}

.plus__26 {
  position: absolute;
  bottom: 130px;
  left: 35%;
}

.content__26 {
  bottom: -55px;
  right: 55%;
}

.plus__27 {
  position: absolute;
  bottom: 144px;
  left: 45%;
}

.content__27 {
  bottom: 140px;
  right: 55%;
}

.img__fx {
  height: 545px;
}

.plus__28 {
  position: absolute;
  bottom: 144px;
  left: 45%;
}

.content__28 {
  bottom: 140px;
  right: 35%;
}

.plus__29 {
  position: absolute;
  bottom: 110px;
  left: 25%;
}

.content__29 {
  bottom: 15px;
  right: 25%;
}

.plus__30 {
  position: absolute;
  bottom: 165px;
  left: 45%;
}

.content__30 {
  bottom: -30px;
  right: 40%;
}

@media (min-width: 1440px) {
  .mobile {
    display: none;
  }
}

.swiper__mobile {
  height: 550px;
  width: 325px;
}

@media (min-width: 360px) and (max-width: 1439px) {
  .mobile__none {
    display: none;
  }
}

.swiper-slide__mobile {
  box-shadow: none;
}
